@model PAIMVC.Models.Requests.UserRegisterRequest

@{
    ViewData["Title"] = "UserRegister";
}

<h1><center>USER REGISTER</center></h1>
<br />
<div class="page-content container-fluid">
    <div class="" data-plugin="matchHeight" data-by-row="true">
        @using (Html.BeginForm("PUserRegister", "Home", FormMethod.Post))
        {
            <div class="panel">
                <div class="panel-body">
                    <div class="">
                        <div class="form-group row">
                            <div class="col-sm-12">


                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Email, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Email, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Email)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Password, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Password, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Status, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Status, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Status)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.UserType, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.UserType, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.UserType)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.PersonName, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.PersonName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PersonName)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.PhoneNumber, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.PhoneNumber, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.City, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.City, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.City)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.ZipCode, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.ZipCode, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ZipCode)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Address, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Address, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Address)
                                    </div>
                                </div>
                                <div class="form-group row">
                                    @Html.LabelFor(model => model.Country, new { @class = "col-sm-3 col-form-label" })
                                    <div class="col-sm-9">
                                        @Html.TextBoxFor(model => model.Country, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Country)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="rowError">@Html.ValidationSummary(true)</div>

                        <div class="text-right">
                            <a href="@Url.Action("Index", "Home")" class="button" style="margin-right: 10px;">Powrót</a>
                            <button type="submit" value="True" class="btn btn-primary" id="validateButton2">Zapisz zmiany</button>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>